/* AdminDashboard.css */
.data-grid-container {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

.ag-theme-alpine {
    --ag-grid-size: 4px;
    --ag-list-item-height: 24px;
    --ag-font-size: 14px;
    --ag-cell-horizontal-padding: 8px;
    --ag-cell-vertical-padding: 4px;
}

/* Search bar */
.search-bar {
    width: 100%;
    margin-bottom: 1rem;
}

.search-bar input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-bar input:focus {
    border-color: #3498db;
}

/* Buttons */
.confirm-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.decline-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
